<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Eco-Mobile</title>
    </head>
    <body style="background-image: url('https://wallpapercave.com/wp/wp2633863.png'); ">
      <div style="width: 100%; text-align: center; font-size: 6vw; color: black; margin-top: 3%; ">Eco-Mobile</div>
      <div class="form-group" style="margin-top:3%;text-align: center; font-size: 6vw; color: black;">
        {{sentence}}
      </div>
    </body>
</html>