<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Eco-Mobile</title>
    </head>
    <body style="background-color: background-image: url('https://wallpapercave.com/wp/wp2633863.png');;">
  <div style="width: 100%; text-align: center; font-size: 6vw; color: black; margin-top: 3%; ">Eco-Mobile</div>

      <form action="/upload" method="POST">
        <div class="form-group" style="margin-bottom: 1%;">
          
          <input placeholder="Name of Vehicle" type="text" name="vehicleName" id="vehicleName" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; width: 94%; border-style: solid; border-width: 4px; border-color: #000000;">
          
          <input placeholder="Link to Picture" type="text" name="pictureLink" id="pictureLink" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; width: 94%; border-style: solid; border-width: 4px; border-color: #000000;">

          <input placeholder="Gas Mileage i/100km (Example: 7)" type="text" name="gasMileage" id="gasMileage" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; width: 94%; border-style: solid; border-width: 4px; border-color: #000000;">

          <input placeholder="Number of Cars Sold" type="text" name="numberSold" id="numberSold" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; width: 94%; border-style: solid; border-width: 4px; border-color: #000000;">

          <input placeholder="Type of Vehicle (Example: SUV)" type="text" name="vehicleType" id="vehicleType" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; width: 94%; border-style: solid; border-width: 4px; border-color: #000000;">

          <input placeholder="Number of Seats" type="text" name="seats" id="seats" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; width: 94%; border-style: solid; border-width: 4px; border-color: #000000;">

          <input placeholder="Password" type="password" name="password" id="password" class="form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%; width: 94%; border-style: solid; border-width: 4px; border-color: #000000;">
                
                </select>
          <button type="submit" class="btn btn-primary form-control" style="height: 10%; font-size: 3vw; margin-left: 3%; margin-right: 3%;  width: 94%; margin-bottom:1%; margin-top: 1%;">Upload Car</button>
          
      </form>

      
    </body>
</html>